
.form__fieldset {
    display: flex;
    flex-direction: column;
    border: solid white;
    background-color: white;
    padding: 20px 6%;
    border-radius: 15px;
    margin: 20px 20px;
}

.form__block {
    margin: 16px 0px;
}

.form__container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 32px;
    padding: 15px 0px;
}

@media (max-width: 767px) {
    .form__container {
        grid-template-columns: 1fr;
        grid-gap: 15px;
        padding: 10px;
    }
}

.form__labelText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
}

@media (max-width: 767px) {
   .form__labelText {
    text-align: center;
   }
}

.form__field {
    outline: none;
    border: none;
    border-bottom: 2px solid hsl(285, 45%, 60%);
    padding: 10px; 
    width: 100%;
    border-radius: 5px;
    text-align: center;
}

.form__field:hover {
    transition: all 1s;
    background-color: hsl(285, 45%, 95%);
}

@media (max-width: 767px) {
    .form__field {
     width: 100%;
     padding: 15px;
    }
 }

.form__select {
    border: none;
    border-bottom: 2px solid hsl(285, 45%, 60%);
    padding: 10px; 
    width: 100%;
    border-radius: 5px;
    text-align: center;
    outline: none;
}

.form__select:hover {
    transition: all 1s;
    background-color: hsl(285, 45%, 95%);
}

@media (max-width: 767px) {
    .form__select {
     width: 100%;
     padding: 15px;
    }
 }

.form__button {
    margin: 10px 0px;
    width: 100%;
    color: hsl(285, 45%, 70%);
    background-color: white;
    padding: 10px;
    border: 1px solid hsl(285, 45%, 70%);
    border-radius: 35px;
    font-weight: bold;
}

.form__button:hover {
    transition: all 1s;
    background-color: hsl(285, 45%, 60%);
    border: 1px solid hsl(285, 45%, 60%);
    color: white;
}

.form__button:active {
    transition: all 1s;
    background-color: hsl(285, 45%, 50%);
    border: 1px solid hsl(285, 45%, 50%);
    color: white;
}
