html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

#root {
  font-family: "Lato", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(./images/background1.jpg);
  background-size: cover;
  background-position: center;
}